*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 

}

body{
 margin: 0;
 padding: 0;
 background-image: url(bg1.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 width: 100%;

}
nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 8vh;
 background-color: #3893c7;
 font-family: 'Georgia, 'Times New Roman', Times, serif;'
}
img{
 height: 100px;
 width: 170px;

}
#vt{
 border-radius: 66px;
 height: 2rem;
 width: 7.6rem;
 background-color: #3893c7;
 color: white;
 font-size: larger;
 text-align: center;
}
.logo{
 color: rgb(226, 226, 226);
 text-transform: uppercase;
 letter-spacing: 5px;
 font-size: 20px;
}
.nav-links{
display: flex;
justify-content: space-around;
width: 60%;

}
.nav-links li{
   list-style: none;
}


.nav-links a{
 color: rgb(226, 226, 226);
 text-decoration: none;
 letter-spacing: 3px;
 font-weight: bold;
 font-size: 14px;

}
#vt{

}

.burger{
 display: none;
 cursor: pointer;

}


.burger div{
 width: 25px;
 height: 5px;
 background-color: rgb(226, 226, 226) ;
 margin: 5px;

}
/* for */

#form{
 text-align: center;
 position: relative;
 right: 18rem;
 top: 1rem;
 background-attachment: fixed;
}
#cd{
 text-align: center;
 border-radius: 70px;

 height: 2.7rem;
 width: 18rem;
}
#cm{
 text-align: center;
 border-radius: 70px;

 height: 2.7rem;
 width: 18rem;
}
#cp{
 text-align: center;
 border-radius: 70px;

 height: 2.7rem;
 width: 18rem;
}
.ca{
 box-shadow: 0px 5px 9px 8px rgba(0, 195, 255, 0.651);
 border: 2px solid rgb(255, 94, 0);
 font-family: monospace;
}
.cz{
 box-shadow: 0px 5px 13px 8px rgba(255, 0, 0, 0.568);
 border: 2px solid rgb(19, 18, 18);
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ce{
 box-shadow: 0px 5px 12px 8px rgba(153, 0, 255, 0.575);
 border: 2px solid rgb(238, 5, 5);
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cr{
 box-shadow: 0px 5px 11px 8px rgba(255, 0, 170, 0.712);
 border: 2px solid rgba(212, 0, 255, 0.753);
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ct{
 box-shadow: 0px 5px 10px 8px rgba(255, 60, 0, 0.644);
 border: 2px solid rgba(255, 0, 128, 0.664);
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cy{
 box-shadow: 0px 5px 9px 8px rgba(115, 255, 0, 0.678);
 border: 2px solid rgb(0, 255, 136);
 font-family: fantasy;
 border
}
#vv{
 border-radius: 66px;
 height: 2.4rem;
 width: 8rem;
 background-color: rgb(4, 0, 255) ;
 color: white;
 font-size: larger;
}

@media screen and (max-width: 1064px){
 .nav-links{
  width: 60%;
  }
}

@media screen and (max-width: 960px){
body{
 overflow-x: hidden;
}

 .nav-links{
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 12vh;
  background-color: #3893c7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  
 }

 #form{
 text-align: center;
 position: relative;
 left: -10rem;
 top: 1rem;
 background-attachment: fixed;
}
 .nav-links li{
  opacity: 0;
 }

 .burger{
  display: block;

 }
 

 .nav-active{
  transform: translateX(0%);
 }

 @keyframes navLinkFade {
  from{
   opacity: 0;
   transform: translateX(50px);
  }
  to{
   opacity: 1;
   transform: translateX(0px);
  }
 }
}
